*{
    box-sizing: border-box;
}

body{
    width : 100%;
    overflow-x: hidden;
    color : white;
    
}
body a{
    list-style-type: none;
    text-decoration: none;
}
.slide-container{
    position: relative;
    width : 134%;
    overflow: hidden;
   /* overflow-y: visible;*/
    display: grid;
    grid-template-columns: repeat(4, 25%);
    column-gap: 40px;
    margin : 10vh 0 10vh 0;
    transition: all 0.5s ease-in-out;

}













.slide-container img , .slide-container video{
    object-fit: contain;
    overflow: hidden;
    border : 4px solid white;
}

#left  , #left-video {
    position: absolute;
    left : 4%;
    top : 50%;
    font-size: 3rem;
    background-color: aliceblue;
    border-radius: 50%;
    transform: translateY(-50%);
    
}

#right , #right-video {
    position: absolute;
    right: 30%;
    top : 50%;
    font-size: 3rem;
    background-color: aliceblue;
    border-radius: 50%;
    transform: translateY(-50%);
}

.titles{
    float : left;
    color : rgb(0, 0, 0);
    margin-left: 5%;
}

.filters{
    float : right;
    color : white;
    margin-bottom: 5vh;
    margin-right: 5%;
}


.filters a{
    display : none;
    margin-bottom: 2rem;
    color : #FFF;

}

video , img {
    max-width: 100%;
}











#offCanvas{display: none;}



@media only screen and (max-width : 900px){
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}


.slide-container{
    width : 200%;
    grid-template-columns: repeat(4,minmax(25% , auto));
   

}

#left {

    top : 50%;
    transform: translateY(-50%);
    left : 1%;
}


#right , #right-video{
    top: 50%;
    transform: translateY(-50%);
    right : 55%;   }









.nav-container ul{
    position: relative;
   left : 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content :space-between;
   
   }







#offCanvas{
    display: block;
   
    background-color: lightgray;
   padding : 5px 2px 5px 2px;
    border-radius: 5px;
    width  : fit-content;
    position: fixed;
    z-index: 5;
    margin-bottom: 15px;
    left : 1%;
    top : 3vh;
}


#offCanvas li , a{
    display: block;
    width : 100%;
}


#offcanvas-div{

    height:fit-content;
    width : 0;
    overflow-x: hidden;
    position: fixed;
    z-index: 3;
    left : 0;
    transition: width 0.4s ease-in-out;
    background-color: #dbe1e8;
    display: flex;
    flex-direction: column;
 
    

}

#offcanvas-div ul{
    background-color: rgba(240, 248, 255 , 0);
    left : 0;
}

#offcanvas-div li  {
    display: block;
    width : 100%;
}

#offcanvas-div i {
    display: none;
}

}




/* THE FOLLOWING CODE IS TO CREATE RESPONSIVE SITE FOR A DEVICE SCREEN BELOW 500px */





@media only screen and (max-width : 500px){




    .slide-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        left: 10%;

       
    }

    #left , #left-video , #right-video , #right{
        display: none;
    }


    .images{
        margin-bottom: 5vh;
    }
 








#offCanvas{
    display: none;
}


    .profile-container{
        display: none;

    }
    .logo{
        display: flex;
        flex-direction: column;
        width : 100%;
        justify-content: center;
        align-items: center;

    }

    #offcanvas-div{
        width : 100%;
        margin-top: 20px;
        display: block;
        position: static;
    }

    .nav-list{
        display: block;
    }

    .nav-list li{
        display: block;
        width : 100%;
    }




}



